@inject NavigationManager Navigation
@using BookNook.Client.Models;
@using BookNook.Client.services;
@inject HttpClient Http
@inject UserStateService UserState
@inject IJSRuntime JsRuntime

<nav class="top-menu">

</nav>

@code {




   

}
